<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='Bootstrap/favicon.ico') }}">
    <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
    <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">
    <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">

    <title>IDRS App</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='Bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='styleSheet.css') }}" rel="stylesheet">
  <style>

  body{
    overflow: hidden;
    padding-top: 0rem;
  }

  
</style>

  </head>

  <body>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Intelligent Disaster Response System</h5>
            </button>
          </div>
          <div class="modal-body">
            Please use this chat to assess a victims state
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-xs-12 col-md-12 col-ld-12 col-centered">
        <div id="my-ciscospark-widget" style="width: 100%; height: 800px;"/>
	    </div>
    </div>
		<!-- <script> $('#messages').show(); </script> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script>window.jQuery || document.write('<script src="../Bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="{{ url_for('static', filename='Bootstrap/assets/js/vendor/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript">
        $(window).on('load',function(){
            $('#myModal').modal('show');
        });
    </script>

    <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
    <script>
      var widgetEl = document.getElementById('my-ciscospark-widget');
      // Init a new widget
      ciscospark.widget(widgetEl).spaceWidget({
        accessToken: 'YzNmMWU5ZTAtYmIwNy00OGUyLWExYTMtMGVkN2JiMTM5ZWE0NzkyNDQ5MzYtMWMy',
        toPersonEmail: 'idrs@sparkbot.io'});
    </script>


  </body>
</html>
